.dark-theme {
    background: #131313;

    .dark-img {
        display: block;
    }

    .light-img {
        display: none;
    }

    .logo {
        color: #FFF;
    }

    .btn {
        &-main {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            background: linear-gradient(143deg, rgba(33, 33, 33, 0.6) 0%, rgba(33, 33, 33, 0.2) 100%);
            color: #A5A5A5;

            svg path {
                fill: #A5A5A5;
            }
        }
    }

    .lang-page {
        &__container {
            position: relative;
            background: transparent;
            overflow: hidden;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(94, 94, 94, 0.05) 70.83%, rgba(28, 28, 28, 0) 95.31%);
                opacity: 0.5;
            }

        }
    }

    // Theme page
    .theme-page {
        &__container::before {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(94, 94, 94, 0.05) 70.83%, rgba(28, 28, 28, 0) 95.31%);
        }
        
        h3 {
            color: #FFF;
        }

        p {
            color: #A5A5A5;
        }
    }
    // Theme page end

    // Settings page
    .settings-page {
        &__container {
            &::before {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(94, 94, 94, 0.05) 70.83%, rgba(28, 28, 28, 0) 95.31%);
            }
        }

        h2 {
            color: #FFF;
        }

        .content-head {
            h3 {
                color: #A5A5A5;
            }

            p {
                color: #A5A5A5;
            }
        }

        .content-body {
            h3 {
                color: #A5A5A5;
            }

            .btns-wrap {
                button {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                    background: linear-gradient(143deg, rgba(33, 33, 33, 0.6) 0%, rgba(33, 33, 33, 0.2) 100%);
                    color: #A5A5A5;
                }
            }
        }

        .save-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 75px 0;
        }
    }
    // Settings page end

    // Channel block
    .channel-block {
        .more-btn {
            svg path {
                fill: #343434;
            }
        }

        .main-block {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            background: linear-gradient(180deg, #212121 0%, #181818 100%);

            p {
                color: #FFF;
            }
        }

        &__body {
            p {
                color: #666666;
            }
        }

        &__foot {
            .prev-btn, .next-btn {
                border-color: #FFF;

                svg path {
                    stroke: #FFF;
                }
            }
        }
    }
    // Channel block end

    .voise-range {
        background: #343434;

        &__wrap {
            width: 220px;
            margin: 0 auto;
            position: relative;

            .voise-icon {
                position: absolute;
                left: -11px;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }

        .line {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 70%;
            left: 0;
            top: 0;
            background: linear-gradient(270deg, #f5786c 0%, #f99362 100%);
            border-radius: 5px;

            &::after {
                content: "";
                position: absolute;
                right: -2.5px;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #F5796D;
            }
        }

        input {
            width: 100%;
            height: 5px;
            position: absolute;
            z-index: 2;
            opacity: 0;
        }
    }

    // Head block
    .head-block {
        .reload-btn {
            background: linear-gradient(135deg, #1c1c1c 0%, #171717 100%);
        }

        .lang {
            position: relative;

            &-btn {
                background: linear-gradient(135deg, #1c1c1c 0%, #171717 100%);
                color: #FFF;

                img {
                    width: 30px;
                    border-radius: 3px;
                    flex-shrink: 0;
                }

                input {
                    display: none !important;
                }
            }

            &-list {
                &::before {
                    background: linear-gradient(135deg, rgba(28, 28, 28, 0.8) 0%, rgba(23, 23, 23, 0.8) 100%);
                }

                &::after {
                    background: linear-gradient(123deg, rgba(255, 255, 255, 0.2), rgba(238, 238, 238, 0.05)) border-box;
                    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                }

                li {
                    color: #FFF;

                    &.selected {
                        background: linear-gradient(180deg, #f9a65c 0%, #f26f75 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    // Head block end

    .channel {
        &-container {
            position: relative;
            z-index: 2;
        }
    
        &-main {
            min-height: calc(100svh - 229px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
    
        &-btns {
            display: flex;
            align-items: center;
            position: absolute;
            gap: 28px;
            left: 32px;
            top: -21px;
            transform: translateY(-100%);
    
            a,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    
        &-card {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            background: linear-gradient(135deg, rgba(33, 33, 33, 0.6) 0%, rgba(33, 33, 33, 0.2) 100%);
    
            p {
                color: #FFF;
            }
    
            &:hover,
            &.active {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                background: linear-gradient(135deg, #212121 0%, #1b1b1b 100%);
            }
        }
    
        .more-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 23px;
        }
    
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
    
            &__item {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                background: linear-gradient(143deg, rgba(33, 33, 33, 0.6) 0%, rgba(33, 33, 33, 0.2) 100%);
    
                p {
                    color: #FFF;
                }
    
                &.selected {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                    background: linear-gradient(143deg, #212121 0%, #212121 100%);
                }
            }
        }
    }

    .navs {
        background: #131313;

        &-head {
            &__img {
                background: #202020;
                box-shadow: none;
            }
    
            &__left {
                display: flex;
                align-items: center;
                gap: 8px;
    
                h3 {
                    color: #666;
                    
                    span {
                        color: #FFF;
                    }
                }
            }
        }
    
        &-bottom {
            background: #1b1b1b;
            
            &__content {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
    
                .content {
                    &-left {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
    
                    &-body {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 32px;
    
                        .prev-btn,
                        .next-btn {
                            filter: brightness(0) invert(1);
                        }
    
                        .play-btn {
                            border-radius: 50%;
                            background: radial-gradient(100% 100% at 100% 50%, rgb(243, 107, 117) 0%, rgb(251, 167, 89) 100%);
                            width: 60px;
                            height: 60px;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            &__wrap {
                                position: relative;
                                z-index: 1;
    
                                .bg-img {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 96px;
                                    min-width: 96px;
                                    z-index: -1;
                                }
                            }
                        }
                    }
    
                    &-right {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}