// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Grand+Hotel&display=swap');

$font-fredoka: "Fredoka", sans-serif;
$font-grand-hotel: "Grand Hotel", cursive;
// Fonts end

// Colors
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}