@import './normalize',
'./dark-theme',
'./global';

body {
    background: white;
    color: #181818;
    font-weight: 400;
    font-family: $font-fredoka;
}

button,
input,
textarea,
li,
div {
    font-family: $font-fredoka;
    font-weight: 400;
    color: #181818;
}

.container {
    max-width: 328px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.dark-img {
    display: none;
}

.logo {
    font-family: $font-grand-hotel;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #404040;

    span {
        background: linear-gradient(147deg, #f4756c 0%, #fa9a5f 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }
}

.btn {
    &-main {
        border-radius: 10px;
        width: 108px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background: linear-gradient(143deg, #f5f5f5 0%, rgba(255, 255, 255, 0.2) 100%);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #181818;
        position: relative;
        z-index: 1;
        transition: .2s ease-in-out all;

        &::before {
            border-radius: 9px;
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            border: 0.5px solid transparent;
            background: linear-gradient(143deg, #FBA45B, #F46F74) border-box;
            mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            opacity: 0;
            transition: .2s ease-in-out all;
        }

        &:hover, &.active {
            &::before {
                opacity: 1;
            }
        }
    }
}

// Intro
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 100svh;

    &-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        width: 377px;
        min-width: 377px;
    }
}

// Intro end

// Header
.header {
    margin-bottom: 13px;

    &-container {
        height: 229px;
        position: relative;
        z-index: 1;
        padding-top: 68px;
    }

    &-bg {
        position: absolute;
        top: -34.7px;
        left: -99px;
        width: 347.5px;
        min-width: 347.5px;
        z-index: -1;
    }

    &.main-header {
        margin-bottom: -3px;

        .header {
            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-right {
                display: flex;
                align-items: center;
                gap: 40px;

                a,
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

// Header end

// Lang page
.lang-page {
    padding-bottom: 126px;

    &__container {
        background: linear-gradient(180deg, rgba(211, 211, 211, 0.5) 0%, rgba(255, 255, 255, 0.5) 95.31%);
        border-radius: 30px 30px 0 0;
        padding: 45px 20px 67px;
    }

    h3 {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #181818;
        margin-bottom: 50px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;
        margin: 0 auto;

        button {
            width: 100%;
            border-radius: 5px;

            &::before {
                border-radius: 4px;
            }
        }
    }
}

// Lang page end

// Theme page
.theme-page {
    &__container {
        border-radius: 30px 30px 0 0;
        padding: 45px 23px 74px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(180deg, rgba(211, 211, 211, 0.5) 0%, rgba(255, 255, 255, 0.5) 95.31%);
            opacity: 0.5;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #181818;
        margin-bottom: 50px;
    }

    &__btns {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        user-select: none;

        &.active {
            .icon {
                svg {
                    display: block;
                }
            }
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 11px;
        margin: 22px 0 11px;

        svg {
            display: none;
        }
    }

    p {
        font-weight: 500;
        font-size: 14px;
        color: #666;
    }

    img {
        border-radius: 10px;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    .dark-block {
        .icon {
            background: #191919;
        }
    }

    .light-block {
        .icon {
            background: #D9D9D9;
        }
    }
}

// Theme page end

// Home
.home {}

// Home end

// Footer
.footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 84px;

    &-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

// Footer end

// Channel
.channel {
    &-container {
        position: relative;
        z-index: 2;
    }

    &-btns {
        display: flex;
        align-items: center;
        position: absolute;
        gap: 28px;
        left: 32px;
        top: -21px;
        transform: translateY(-100%);

        a,
        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background: linear-gradient(135deg, #f5f5f5 0%, #fff 100%);
        height: 126px;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        transition: .2s ease-in-out all;
        cursor: pointer;
        user-select: none;

        &::before {
            border-radius: 9px;
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            border: 1px solid transparent;
            background: linear-gradient(to bottom, #FBA55B, rgba(244, 111, 115, 0.5)) border-box;
            mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            opacity: 0;
            transition: .2s ease-in-out all;
        }

        &__wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px 14px;
        }

        img {
            position: absolute;
            left: 50%;
            top: 23px;
            transform: translateX(-50%);
            z-index: -1;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            color: #181818;
            width: 100%;
            padding: 0 9px 19px;
        }

        &:hover,
        &.active {
            transform: scale(1.1);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
            background: linear-gradient(135deg, #f5f5f5 0%, #fff 100%);

            &::before {
                opacity: 1;
            }
        }
    }

    .more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 23px;
    }
}

// Channel end

// Navs
.navs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &-bottom {
        background: linear-gradient(180deg, #f9f9f9 0%, rgba(250, 250, 250, 0) 100%);
        border-radius: 49px;
        padding: 16px 0 32px;

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .content {
                &-left {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &-body {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 32px;

                    .prev-btn,
                    .next-btn {
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .play-btn {
                        border-radius: 50%;
                        background: radial-gradient(100% 100% at 100% 50%, rgb(243, 107, 117) 0%, rgb(251, 167, 89) 100%);
                        width: 60px;
                        height: 60px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &__wrap {
                            position: relative;
                            z-index: 1;

                            .bg-img {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 96px;
                                min-width: 96px;
                                z-index: -1;
                            }
                        }
                    }
                }

                &-right {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

// Settings page
.settings-page {
    &__container {
        border-radius: 30px 30px 0 0;
        padding: 45px 20px 0;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(180deg, rgba(211, 211, 211, 0.5) 0%, rgba(255, 255, 255, 0.5) 95.31%);
            opacity: 0.5;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #181818;
        margin-bottom: 60px;
    }

    .content-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #252525;
        padding-bottom: 30px;
        margin: 0 auto 30px;
        max-width: 246px;

        h3 {
            font-weight: 400;
            font-size: 14px;
            color: #181818;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 9px;

            &.active .icon svg {
                display: block;
            }
        }

        .icon {
            width: 20px;
            height: 20px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
            svg {
                display: none;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: #666;
        }

        .dark-block {
            .icon {
                background: #191919;
                border: 1px solid #353535;
            }
        }

        .light-block {
            .icon {
                border: 1px solid #D9D9D9;
                background: #FFF;
            }
        }
    }

    .content-body {
        h3 {
            padding: 0 0 20px 23px;
            font-weight: 400;
            font-size: 14px;
            color: #181818;
        }

        .btns-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 26px;

            button {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
                background: linear-gradient(143deg, #fff 0%, rgba(255, 255, 255, 0.6) 100%);
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #666;
                width: auto;
            }
        }
    }

    .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 75px 0;
    }
}
// Settings page end